
<%= render "partials/top" %>
	<div class = "row">
		<div class = "large-12 columns">
			<h3 class="subheader">Arquivos Sub Inspetor</h3>
		</div>
	</div>
<%= form_for @model_instance, :html => {:multipart => true}, :url =>{:action => 'create', :id =>@model_instance} do |f| %>
		
		<div class = "row">
			<div class = "large-12 columns">
				<label> Arquivo:</label>
				<%= f.file_field :sub_inspector_file, :required => true %>						
			</div>
		</div>
		<div class = "row">
			<div class = "large-6 columns">
				<label> Descrição:</label>
				<%= f.text_field :description, :required => true %>						
			</div>
			<div class = "large-6 columns">
				<label> Arquivo:</label>
				<%=  f.select( :sys_document_type_id, options_for_select(SysDocumentType.all.map{|s|[s.description, s.id]}), {}, { :class => "ui fluid search dropdown" })%>						
			</div>
		</div>
	<div class = 'row'>
		<ul class = "button-group radius">
			
				<li><%= f.submit 'Salvar', :class => 'button success' %></li>
				<li><%= link_to 'Cancelar', {:action => 'index'}, :class => 'button alert' %></li>
		</ul>
	</div>	
<% end %>
<%= render 'partials/bottom'%>
